<section class="blog">
    <div class="container">
        
    <h1 class="blog__title">блог</h1>
    <ul class="blog__list">
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
                </div>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
                </div>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                 <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
            <div class="blog__box">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="../../blog-article.html">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-upper-right"></use>
                    </svg>
                </a>
  
            </div>
            
        </li>
    </ul>

            <ul class="blog__button-list">
          <li class="blog__button-item">
            <button class="blog__button" type="button">
              <svg class="blog__button-icon blog__first-button-icon">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button blog__first-button" type="button">1</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">2</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">3</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">4</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">5</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">6</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">7</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">...</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">18</button>
          </li>
          <li class="blog__button-item">
            <button class="blog__button" type="button">
              <svg class="blog__button-icon">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
        <ul class="blog__list-bth">
            <li class="blog__item-bth">
        <button class="blog__bth">Показати ще статті
            <svg class="blog__bth-svg">
                <use href="../../images/symbol-defs.svg#icon-reload"></use>
            </svg>
        </button>
            </li>
        </ul>

    </div>
</section>