.pay-kyiv {
    background-color: #F8F8F8;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.pay-kyiv__title {
    color: $dark;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;


    @media screen and (min-width: 1200px) {
        line-height: 48px;
        font-size: 40px;
    }
}

.pay-kyiv__list {
    margin-right: 40px;
    display: flex;
    gap: 30px;
    margin-top: 40px;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.pay-kyiv__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;

    @media screen and (min-width: 1200px) {
        max-width: 300;
    }
}

.pay-kyiv__icon-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-kyiv__icon {
    width: 50px;
    height: 48px;
    fill: white;
}

.pay-kyiv__text {
    color: $dark;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    /* 130.769% */
    margin-top: 20px;
}

.pay-kyiv__subtext {
    color: $dark;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    margin-top: 20px;
    max-width: 410px;
    width: 100%;

    @media screen and (min-width: 1200px) {
        max-width: 300;
    }
}