@mixin text-styles( $size, $line-height, $weight, $space) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $space;
}

@mixin transition($transition-property: background, $transition-duration: 250ms, $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)){
  transition-property: $transition-property;
  transition-duration: $transition-duration;
  transition-timing-function: $transitionT;
}