<section class="addition">
    <div class="container">
        <h2 class="addition__title">Відмінно дополняють спальню тумба або комод</h2>
        <ul class="addition__list">
            <li class="addition__item" data-aos="fade-left" data-aos-duration="500">
                <picture>
                    <source srcset="
                        ./images/main-page/bed-sparta@1x.webp 1x,
                        ./images/main-page/bed-sparta@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <source srcset="
                        ./images/main-page/bed-sparta@1x.webp 1x,
                        ./images/main-page/bed-sparta@2x.webp 2x
                      " media="(min-width: 480px)" />
                    <img class="addition__img" src="./images/main-page/bed-sparta@1x.webp" alt="bed" />
                </picture>
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Ліжко Спарта / Sparta з підйомним механізмом</p>
                <div class="addition__active-flex">
                    <svg class="addition__svg">
                        <use href="./images/symbol-defs.svg#icon-in-stock"></use>
                    </svg>
                    <p class="addition__active">В наявності</p>
                </div>
                <div class="addition__item-footer">
                    <div class="addition__cost-flex">
                        <p class="addition__non-cost">25 400 грн.</p>
                        <p class="addition__cost">15 400 грн.</p>
                    </div>
                    <div class="addition__obrane-bc">
                        <svg class="addition__obrane-svg">
                            <use href="./images/symbol-defs.svg#icon-obrane-heard"></use>
                        </svg>
                    </div>
                    <div class="addition__koshyk-bc">
                        <svg class="addition__koshyk-svg">
                            <use href="./images/symbol-defs.svg#icon-korzina"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="addition__item" data-aos="fade-left" data-aos-duration="800">
                <picture>
                    <source srcset="
                        ./images/main-page/bed-argon@1x.webp 1x,
                        ./images/main-page/bed-argon@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <source srcset="
                        ./images/main-page/bed-argon@1x.webp 1x,
                        ./images/main-page/bed-argon@2x.webp 2x
                      " media="(min-width: 480px)" />
                    <img class="addition__img" src="./images/main-page/bed-argon@1x.webp" alt="bed" />
                </picture>
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Ліжко Аргон з підйомним механізмом</p>
                <div class="addition__active-flex">
                    <svg class="addition__svg">
                        <use href="./images/symbol-defs.svg#icon-in-stock"></use>
                    </svg>
                    <p class="addition__active">В наявності</p>
                </div>
                <div class="addition__item-footer">
                    <p class="addition__cost">16 400 грн.</p>
                    <div class="addition__obrane-bc">
                        <svg class="addition__obrane-svg">
                            <use href="./images/symbol-defs.svg#icon-obrane-heard"></use>
                        </svg>
                    </div>
                    <div class="addition__koshyk-bc">
                        <svg class="addition__koshyk-svg">
                            <use href="./images/symbol-defs.svg#icon-korzina"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="addition__item" data-aos="fade-left" data-aos-duration="1100">
                <picture>
                    <source srcset="
                        ./images/main-page/bed-prestige@1x.webp 1x,
                        ./images/main-page/bed-prestige@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <source srcset="
                        ./images/main-page/bed-prestige@1x.webp 1x,
                        ./images/main-page/bed-prestige@2x.webp 2x
                      " media="(min-width: 480px)" />
                    <img class="addition__img" src="./images/main-page/bed-prestige@1x.webp" alt="bed" />
                </picture>
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Ліжко Престиж з підйомним механізмом</p>
                <div class="addition__active-flex">
                    <svg class="addition__svg">
                        <use href="./images/symbol-defs.svg#icon-in-stock"></use>
                    </svg>
                    <p class="addition__active">В наявності</p>
                </div>
                <div class="addition__item-footer">
                    <p class="addition__cost">14 969 грн.</p>
                    <div class="addition__obrane-bc">
                        <svg class="addition__obrane-svg">
                            <use href="./images/symbol-defs.svg#icon-obrane-heard"></use>
                        </svg>
                    </div>
                    <div class="addition__koshyk-bc">
                        <svg class="addition__koshyk-svg">
                            <use href="./images/symbol-defs.svg#icon-korzina"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="addition__item" data-aos="fade-left" data-aos-duration="1400">
                <picture>
                    <source srcset="
                        ./images/main-page/sofa-tokio@1x.webp 1x,
                        ./images/main-page/sofa-tokio@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <source srcset="
                        ./images/main-page/sofa-tokio@1x.webp 1x,
                        ./images/main-page/sofa-tokio@2x.webp 2x
                      " media="(min-width: 480px)" />
                    <img class="addition__img" src="./images/main-page/sofa-tokio@1x.webp" alt="bed" />
                </picture>
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Диван Токіо-2</p>
                <div class="addition__active-flex">
                    <svg class="addition__svg">
                        <use href="./images/symbol-defs.svg#icon-in-stock"></use>
                    </svg>
                    <p class="addition__active">В наявності</p>
                </div>
                <div class="addition__item-footer">
                    <p class="addition__cost">13 211 грн.</p>
                    <div class="addition__obrane-bc">
                        <svg class="addition__obrane-svg">
                            <use href="./images/symbol-defs.svg#icon-obrane-heard"></use>
                        </svg>
                    </div>
                    <div class="addition__koshyk-bc">
                        <svg class="addition__koshyk-svg">
                            <use href="./images/symbol-defs.svg#icon-korzina"></use>
                        </svg>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>