<section class="conditions">
    <div class="container">
        <ul class="conditions__list">
            <li class="conditions__item" data-aos="fade-right" data-aos-duration="2000">
                <div class="conditions__icon-bc">
                    <svg class="conditions__svg">
                        <use href="../../images/symbol-defs.svg#icon-adres"></use>
                    </svg>
                </div>
                <div class="conditions__text-box">
                    <p class="conditions__subtitle">Доставка</p>
                    <p class="conditions__text">Доставка по Києву або по всій Україні</p>
                    <a href="#" class="conditions__more">
                        <span>Детальніше
                        </span>
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="conditions__item" data-aos="fade-right" data-aos-duration="1000">
                <div class="conditions__icon-bc">
                    <svg class="conditions__svg">
                        <use href="../../images/symbol-defs.svg#icon-oplata"></use>
                    </svg>
                </div>
                <div class="conditions__text-box">
                    <p class="conditions__subtitle">Оплата</p>
                    <p class="conditions__text">Карткою на сайті, готівкою або через термінал</p>
                    <a href="#" class="conditions__more">
                        <span>Детальніше
                        </span>
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="conditions__item" data-aos="fade-left" data-aos-duration="1000">
                <div class="conditions__icon-bc">
                    <svg class="conditions__svg">
                        <use href="../../images/symbol-defs.svg#icon-garantia"></use>
                    </svg>
                </div>
                <div class="conditions__text-box">
                    <p class="conditions__subtitle">Гарантія</p>
                    <p class="conditions__text">Гарантія від виробника до 2 років</p>
                    <a href="#" class="conditions__more">
                        <span>Детальніше
                        </span>
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="conditions__item" data-aos="fade-left" data-aos-duration="2000">
                <div class="conditions__icon-bc">
                    <svg class="conditions__svg">
                        <use href="../../images/symbol-defs.svg#icon-sms-check"></use>
                    </svg>
                </div>
                <div class="conditions__text-box">
                    <p class="conditions__subtitle">Підтримка</p>
                    <p class="conditions__text">Безкоштовна консультація по вибору товара</p>
                    <a href="#" class="conditions__more">
                        <span>Детальніше
                        </span>
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>