<section class="tray">
    <div class="container">
        <div class="tray__container">
            <div class="left-side">
            <nav class="tray__navigation">
              <a class="tray__main-link" href="#">Головна</a>
              <svg class="tray__icon">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
              </svg>
              <a class="tray__tray-link" href="../">Ліжка</a>
            </nav>
          <h2 class="tray__title">Оформлення замовлення</h3>

          <div class="tray__order">
            <div class="tray__order-information">
                <div class="title-box">
                <div class="tray__icon-arrow-box">
            <svg class="tray__icon-arrow">
                <use href="../../images/symbol-defs.svg#icon-info"></use>
              </svg>
            </div>
              <h3 class="tray__information-text">Інформація про покупця</h3>
            </div>
            <div class="forms-container">
            <div class="form-first-container">
            <form class="tray__form-first">
                <input type="text" id="surname" name="surname" placeholder="Прізвище">
                <input type="text" id="name" name="name" placeholder="Ім’я">
                <input type="text" id="patronymic" name="patronymic" placeholder="По батькові">
                <div class="other-people-box">
                <input type="checkbox" id="checkbox" name="checkbox">
                <label class="tray__label-people" for="checkbox">Отримуватиме замовлення інша людина</label>
            </div>
            </form>
        </div>
        <div class="form-first-second">
            <form class="tray__form-second">
                <input type="text" id="name" name="name" placeholder="Контактний телефон">
                <input type="text" id="name" name="name" placeholder="E-mail">
            </form>
        </div>
    </div>
          </div>

          <div class="tray__delivery">
            <div>
                <svg class="tray__delivery-svg">
                    <use href="../../images/symbol-defs.svg#icon-small-bus"></use>
                  </svg>
                  <h3 class="tray__information-text">Вибір способу доставки</h3>
                </div>
                <ul class="tray__delivery-list">
                    <li class="tray__delivery-item">
                        <svg class="tray__delivery-check">
                            <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                        <h3 class="tray__delivery-title">Самовивіз із магазину</h3>
                        <p class="tray__delivery-descr">Бесплатно</p>
                    </li>
                    <li class="tray__delivery-adress-mobile">
                        <svg class="delivery-svg">
                            <use href="../../images/symbol-defs.svg#icon-adres"></use>
                        </svg>
                        <div>
                        <p class="tray__adress-title">Графік роботи: щодня з 9:00 до 18:00</p>
                        <h3 class="tray__adress-descr"> м. Київ, пров. Ізяславський 52, пов. 2</h3>
                        </div>
                            <a href="https://www.google.com/maps/place/Lak+Studio/@50.3958698,30.4242712,15z/data=!4m2!3m1!1s0x0:0x9d24277dcc3d5ff1?sa=X&ved=1t:2428&ictx=111" class="tray__delivery-btn-mobile">
                        <svg>
                            <use href="../../images/symbol-defs.svg#icon-map"></use>
                        </svg>На мапі</a>
                    </li>
                    <li class="tray__delivery-item">
                        <svg class="tray__delivery-np">
                            <use href="../../images/symbol-defs.svg#icon-nova-poshta"></use>
                        </svg>
                        <h3 class="tray__delivery-title">Доставка Нова Пошта</h3>
                        <p class="tray__delivery-descr">≈ від 500 грн</p>
                    </li>
                    <li class="tray__delivery-item">
                        <svg class="tray__delivery-man">
                            <use href="../../images/symbol-defs.svg#icon-man"></use>
                        </svg>
                        <h3 class="tray__delivery-title">Доставка кур'єром</h3>
                        <p class="tray__delivery-descr">≈ від 200 грн</p>
                    </li>
                </ul>
                    <div class="tray__delivery-adress">
                        <svg class="delivery-svg">
                            <use href="../../images/symbol-defs.svg#icon-adres"></use>
                        </svg>
                        <div>
                        <p class="tray__adress-title">Графік роботи: щодня з 9:00 до 18:00</p>
                        <h3 class="tray__adress-descr"> м. Київ, пров. Ізяславський 52, пов. 2</h3>
                    </div>
                    <a href="https://www.google.com/maps/place/Lak+Studio/@50.3958698,30.4242712,15z/data=!4m2!3m1!1s0x0:0x9d24277dcc3d5ff1?sa=X&ved=1t:2428&ictx=111" class="tray__delivery-btn">
                        <svg>
                            <use href="../../images/symbol-defs.svg#icon-map"></use>
                        </svg>На мапі</a>
                    </div>
                  </div>
                  <div class="tray__pay">
                    <div>
                        <svg class="tray__icon-arrow">
                            <use href="../../images/symbol-defs.svg#icon-wallet-сard"></use>
                          </svg>
                          <h3 class="tray__information-text">Вибір способу оплати</h3>
                        </div>
                        <form class="tray__pay-form">
                            <div>
                                <input type="radio" id="cashOnDelivery" name="paymentMethod" class="tray__page-cash">
                                <label for="cashOnDelivery">Готівкою при отриманні (Післясплата)</label>
                            </div>
                            <div>
                                <input type="radio" id="cardOnline" name="paymentMethod" class="tray__page-cash" checked>
                                <label for="cardOnline">Оплата карткою на сайті</label>
                                <svg class="pay-mc">
                                    <use href="../../images/symbol-defs.svg#icon-mastercard-color"></use>
                                </svg>
                                <svg class="pay-visa">
                                    <use href="../../images/symbol-defs.svg#icon-visa-card-logo"></use>
                                </svg>

                            </div>
                            <div>
                                <input type="radio" id="privatPay" name="paymentMethod" class="tray__page-cash">
                                <label for="privatPay">Privat Pay</label>
                                <svg class="pay-privat">
                                    <use href="../../images/symbol-defs.svg#icon-privat-pay-logo"></use>
                                </svg>
                            </div>
                            <div>
                                <input type="radio" id="creditKrovatoPay" name="paymentMethod" class="tray__page-cash">
                                <label for="creditKrovatoPay">Кредит від Krovato</label>
                            </div>
                            <div>
                                <input type="radio" id="creditPrivatPay" name="paymentMethod" class="tray__page-cash">
                                <label for="creditPrivatPay">Оплата частинами ПриватБанк</label>
                                <svg class="pay-credit">
                                    <use href="../../images/symbol-defs.svg#icon-privaty-credit-logo"></use>
                                </svg>
                            </div>
                            <div>
                                <input type="radio" id="creditMonoPay" name="paymentMethod" class="tray__page-cash">
                                <label for="creditMonoPay">Оплата частинами МоноБанк</label>
                                <svg class="pay-mono">
                                    <use href="../../images/symbol-defs.svg#icon-mono-bank-logo"></use>
                                </svg>
                            </div>
                        </form>
                  </div>
                  <div class="tray__comment">
                    <div>
                        <svg class="tray__icon-arrow">
                            <use href="../../images/symbol-defs.svg#icon-chat-check"></use>
                          </svg>
                          <h3 class="tray__information-text">Коментар до замовлення</h3>
                        </div>
                        <form>
                            <textarea class="tray__comment-input" type="text" placeholder="Ваш коментар"></textarea>
                        </form>
                  </div>
        </div>
    </div>

        <div class="tray__right">
            <div class="tray__right-beds">
            <h3 class="tray__right-text">Ваш кошик <span class="tray__right-span">4</span></h3>
            <ul class="tray__right-list">
                <li class="tray__right-item">
                    <div class="tray__right-item-container">
                    <div>
                        <img class="tray__right-img" src="../../images/main-page/bed-sparta@1x.webp" alt="Bed Sparta">
                        <div class="tray__right-counter">
                            <p>–</p>
                            <p class="tray__right-counter-text">1</p>
                            <p>+</p>
                    </div>
                    </div>
                    <div class="tray__right-information">
                    <p class="tray__right-size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="tray__right-name">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                    <div class="tray__svg-box">
                        <div class="tray__svg">
                        <svg class="tray_svg-buy">
                          <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                      </div>
                        <p class="tray__paragraph">
                          В наявності
                        </p>
                      </div>
                    <div class="tray__right-price-box">
                        <h3 class="tray__right-price">15 400 грн.</h3>
                        <p class="tray__right-discount">25 400 грн.</p>
                    </div>
                    <svg class="tray__icon-close">
                        <use href="../../images/symbol-defs.svg#icon-circle-close"></use>
                    </svg>
                </div>
            </div>
            <div class="tray__right-line"></div>
                </li>
                <li class="tray__right-item">
                <div class="tray__right-item-container">
                    <div>
                        <img class="tray__right-img" src="../../images/main-page/bed-sparta@1x.webp" alt="Bed Sparta">
                        <div class="tray__right-counter2">
                            <p>–</p>
                            <p class="tray__right-counter-text">2</p>
                            <p>+</p>
                    </div>
                    </div>
                    <div class="tray__right-information">
                    <p class="tray__right-size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="tray__right-name">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                    <div class="tray__svg-box">
                        <div class="tray__svg">
                        <svg class="tray_svg-buy">
                          <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                      </div>
                        <p class="tray__paragraph">
                          В наявності
                        </p>
                      </div>
                        <h3 class="tray__right-price">15 400 грн.</h3>
                    <svg class="tray__icon-close">
                        <use href="../../images/symbol-defs.svg#icon-circle-close"></use>
                    </svg>
                </div>
            </div>
            <div class="tray__shadow">
                <div>
                <a class="tray__hide" href="#">Показати всі</a>
                <svg class="tray__top-svg">
                  <use href="../../images/symbol-defs.svg#icon-two-arrows-top"></use>
                </svg>
            </div>
              </div>
            </li>
            <div class="tray__right-line"></div>
                </li>
                <li class="tray__right-item">
                    <div class="tray__right-item-container">
                    <div>
                        <img class="tray__right-img" src="../../images/main-page/bed-sparta@1x.webp" alt="Bed Sparta">
                        <div class="tray__right-counter">
                            <p>–</p>
                            <p class="tray__right-counter-text">1</p>
                            <p>+</p>
                    </div>
                    </div>
                    <div class="tray__right-information">
                    <p class="tray__right-size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="tray__right-name">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                    <div class="tray__svg-box">
                        <div class="tray__svg">
                        <svg class="tray_svg-buy">
                          <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                      </div>
                        <p class="tray__paragraph">
                          В наявності
                        </p>
                      </div>
                    <div class="tray__right-price-box">
                        <h3 class="tray__right-price">15 400 грн.</h3>
                    </div>
                    <svg class="tray__icon-close">
                        <use href="../../images/symbol-defs.svg#icon-circle-close"></use>
                    </svg>
                </div>
            </div>
                </li>
            </ul>
        </div>

            <div class="tray__right-promo">
                <div>
                <svg class="tray__right-svg-promo">
                    <use href="../../images/symbol-defs.svg#icon-promo"></use>
                </svg>
                <h3 class="tray__right-promo-text">Є промокод?</h3>
            </div>
            <div>
            <form>
            <input class="tray__right-promo-input" type="text" placeholder="Введіть код">
            </form>
            <button class="tray__right-promo-btn">ОК</button>
        </div>
            </div>

            <div class="tray__right-pay">
                <h2 class="tray__right-pay-title">Разом:</h2>
                <ul class="tray__right-pay-list">
                    <li class="tray__right-pay-item">
                    <p class="tray__right-pay-text">4 товари на суму:</p>
                    <div class="pay-line"></div>
                    <p class="tray__right-pay-text">540 269 грн.</p>
                </li>
                <li class="tray__right-pay-item">
                    <p class="tray__right-pay-text">Вартість доставки:</p>
                    <div class="pay-line"></div>
                    <p class="tray__right-pay-text">За тарифами оператора</p>
                </li>
                <li class="tray__right-pay-item">
                    <p class="tray__right-pay-text">До оплати:</p>
                    <div class="pay-line"></div>
                    <p class="tray__right-pay-price">540 269 грн.</p>
                </li>
                </ul>

                <form class="tray__right-pay-form">
                    <input class="tray__right-pay-checkbox" id="trayRightCheckbox" type="checkbox">
                    <label class="tray__right-pay-label" for="trayRightCheckbox">Не передзвонюйте мені для підтвердження замовлення</label>
                </form>
                <button class="tray__right-pay-btn">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
                <p class="tray__right-pay-terms">Підтверджуючи замовлення, я приймаю умови <span class="terms-span">Угоди користувача</span></p>
            </div>
        </div>
    </div>
    </div>
</section>