<section class="contact">
    <div class="container contact__container">
    <h1 class="contact__title">Контакти</h1>
    <ul class="contact__list">
        <li class="contact__item" data-aos="fade-right">
            <div class="contact__box-svg">
            <svg class="contact__svg">
                <use href="/images/symbol-defs.svg#icon-tel"></use>
            </svg>

            
            <h3 class="contact__name">Телефони:</h3>
            <div class="contact__box-text">
            <a class="contact__link" href="
            tel:+380679294545">
            +38 067 929-45-45
        </a> 
            <a class="contact__link" href="
            tel:+380501334545">
            +38 050 133-45-45
        </a>
            <a class="contact__link" href="
            tel:+380931707545">
            +38 067 929-45-45
        </a>  
            </div>
            </div>
        </li>
        <li class="contact__item" data-aos="fade-down-right">
                        <div class="contact__box-svg">
            <svg class="contact__svg">
                <use href="/images/symbol-defs.svg#icon-mail"></use>
            </svg>
             <h3 class="contact__name">Напишіть нам:</h3>
             <div class="contact__box-text">
            <a class="contact__link" href="mailto:info.krovato@gmail.com">info.krovato@gmail.com</a>
             </div>
            </div>
            <div class="contact__box-link">
            <svg class="contact__svg-link">
                <use href="/images/symbol-defs.svg#icon-whatsap"></use>
            </svg>
            <svg class="contact__svg-link">
                <use href="/images/symbol-defs.svg#icon-telegram"></use>
            </svg>
            <svg class="contact__svg-link">
                <use href="/images/symbol-defs.svg#icon-viber"></use>
            </svg>
            <svg class="contact__svg-link">
                <use href="/images/symbol-defs.svg#icon-facebook"></use>
            </svg>
            <svg class="contact__svg-link">
                <use href="/images/symbol-defs.svg#icon-instagram"></use>
            </svg>
            </div>
        </li>
        <li class="contact__item"  data-aos="fade-up-left">
            <div class="contact__box-svg">
            <svg class="contact__svg">
                <use href="/images/symbol-defs.svg#icon-adressa"></use>
            </svg>
            
            <h3 class="contact__name">Де ми знаходимось:</h3>
            <div class="contact__box-text">
            <p class="contact__text">м. Київ провулок <br> Ізяславський 52, пов. 2</p>
            </div>
            </div>
        </li>
        <li class="contact__item" data-aos="fade-left">
            <div class="contact__box-svg">
            <svg class="contact__svg">
                <use href="/images/symbol-defs.svg#icon-calendars"></use>
            </svg>
            
            <h3 class="contact__name">Графік роботи:</h3>
            <div class="contact__box-text">
            <p class="contact__text">Працюємо щодня <br> з 9:00 до 18:00</p>
            </div>
            </div>
        </li>
    </ul>
    <ul class="contact__list-map">
        <li class="contact__item-map">
    <img data-aos="zoom-in-up" data-aos-duration="3000" class="contact__img" src="/images/contacts-page/office-img@1x.webp" alt="123">
    <iframe data-aos="zoom-in-up" data-aos-duration="3000" class="contact__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174.7795919311427!2d30.42354827749683!3d50.39595743383892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c985b50a7e6d%3A0x3d3fa41b01332a2a!2z0JrRgNC-0LLQsNGC0L4!5e0!3m2!1sru!2sua!4v1711742065239!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</li>
    </ul>
   
    </div>
</section>  

