
<section class="route">
    <div class="container">
        <h1 class="route__title">Як дістатися до нашої виставки «Кровато» від метро:</h1>
        <ul class="route__list">
            <li class="route__item" data-aos="fade-right"  data-aos-duration="3000">
                <svg class="route__svg">
                    <use href="./images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="route__text">Від ст. м. «Святошино» - маршрутне таксі № 461 виходити на зупинці «Путопровід». </p>
            </li>
            <li class="route__item" data-aos="fade-right"  data-aos-duration="3000">
                <svg class="route__svg">
                    <use href="./images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="route__text">
                    Від ст. м. «Академмістечко» — маршрутне таксі № 56, 56Д у
                    <br> напрямку Кільцевої дороги, повз завод «Електронмаш», зуп.
                    <br> «Литвиненко-Вольгемут», минаючи поворот на 
                    <br> Софіївську Борщагівку та Вишневе, зупинка одразу за Жулянським 
                    <br> мостом, виходити на зупинці «Путопровід».</p>
            </li>
            <li class="route__item" data-aos="fade-right"  data-aos-duration="3000">
                <svg class="route__svg">
                    <use href="./images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="route__text">
                    Від ст. м. «Васильківська» — маршрутне таксі № 208, 56Д, 
                    <br> 904 у напрямку Кільцевої дороги, виходити на зупинці 
                    <br> «Путопровід».</p>
            </li>
            <li class="route__item" data-aos="fade-left"  data-aos-duration="3000">
                                <svg class="route__svg">
                    <use href="./images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="route__text">
                    Від ст. м (Виставкового центру) — автобус 56 та маршрутне 
                    <br> таксі № 208,499,461,904 у напрямку Кільцевої дороги, 
                    <br> виходити на зупинці «Путепровід».</p>
            </li>
            <li class="route__item" data-aos="fade-left"  data-aos-duration="3000">
                <svg class="route__svg">
                    <use href="./images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="route__text">
                    Від м.Вишневе, маршрутним таксі 718, виходити на зупинці 
                   <br> (Путопровід).</p>
            </li>
            <li class="route__item" data-aos="fade-left"  data-aos-duration="3000">
                <svg class="route__svg">
                    <use href="./images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="route__text">
                    Від Севастопольської площі, маршрутне таксі 496, 499,
                    <br> виходити на зупинці (Путопровід ).</p>
            </li>
        </ul>

        <ul class="route__list-button">
            <li class="route__item-button">
                <a href="https://www.google.com/maps/dir//Кровато,+Изяславский+переулок,+52,+Київ,+03169/@50.3962324,30.4230726,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x40d4c985b50a7e6d:0x3d3fa41b01332a2a!2m2!1d30.424114!2d50.3963197">
        <button data-aos="zoom-in" data-aos-duration="2950" class="route__button">Прокласти маршрут
                            <svg class="route__button-svg">
                    <use href="./images/symbol-defs.svg#icon-map"></use>
                </svg>
        </button>
                </a>
            </li>
        </ul>
    </div>
</section>