<section class="write">
    <div class="container write__container">
        <ul class="write__list-text">
            <li class="write__item-text">
                <p class="write__one">
                    Напишіть нам!
                </p>
            </li>
            <li class="write__item-text write__two-item">
                <p class="write__two">
                    Якщо у вас є побажання щодо якості
                    обслуговування, пропозиції щодо
                    партнерства, напишіть нам і наше
                    керівництво зв`яжеться з вами!
                </p>
            </li>
            <li class="write__item-text">
                <p class="write__three">
                    Або чекаємо на вас у гості!
                </p>
            </li>
        </ul>
        <form class="write__form">
    <input class="write__input" type="text" placeholder="Ваше ім'я прізвище" required>
    <input class="write__input" type="text" placeholder="E-mail" required>
    <input class="write__input" type="text" placeholder="Контактний телефон" required>
    <input class="write__input write__coment" type="text" placeholder="Ваш коментар або питання" required>
    <button class="write__button" type="text">Відправити</button>
        </form>
    </div>
</section>