<section class="write">
    <div class="container">
        
    <input class="write__input" type="text" placeholder="Ваше ім'я прізвище" required>
    <input class="write__input" type="text" placeholder="E-mail" required>
    <input class="write__input" type="text" placeholder="Контактний телефон" required>
    <input class="write__input write__coment" type="text" placeholder="Ваш коментар або питання" required>
    <button class="write__button" type="text">Відправити</button>

    </div>
</section>