<section class="discount">
  <div class="container">
    <div class="name-container">
    <h3 class="discount__title">Акції</h3>
    <a class="products__link" href="#"
      >Дивитись всі</a>
      <svg class="right-svg">
        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
      </svg>
      </div>
        <a href="#" class="discount__left">
            <svg class="discount__left-svg">
              <use href="../../images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          
        <a href="#" class="discount__right">
            <svg class="discount__right-svg">
              <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </a>

        <ul class="discount__list">
          <li class="discount__item">
        <picture>
            <source
              srcset="
                ../../images/main-page/discount1@1x.webp 1x,
                ../../images/main-page/discount1@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- <source srcset=""> -->
            <img
              class="discount__img"
              src="../../images/main-page/discount1@1x.webp"
              alt="discount"
            />
          </picture>
        </li>
        <li class="discount__item">
          <picture>
            <source
              srcset="
                ../../images/main-page/discount2@1x.webp 1x,
                ../../images/main-page/discount2@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- <source srcset=""> -->
            <img
              class="discount__img"
              src="../../images/main-page/discount2@1x.webp"
              alt="discount"
            />
          </picture>
          </li>
          <li class="discount__item">
          <picture>
            <source
              srcset="
                ../../images/main-page/discount3@1x.webp 1x,
                ../../images/main-page/discount3@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- <source srcset=""> -->
            <img
              class="discount__img"
              src="../../images/main-page/discount3@1x.webp"
              alt="discount"
            />
          </picture>
          </li>
        </ul>
  </div>
</section>
