<section class="discount">
  <div class="container">
    <div class="discount__container">
    <div class="discount__name-container">
      <h3 class="discount__title">Акції</h3>
      <a class="discount__link" href="#"
        >Дивитись всі
        <svg class="right-svg">
          <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
        </svg>
      </a>
        </div>
        <div class="discount__svg-cont">
          <a href="#" class="discount__left">
              <svg class="discount__left-svg">
                <use href="../../images/symbol-defs.svg#icon-arrow-left"></use>
              </svg>
            
          <a href="#" class="discount__right">
              <svg class="discount__right-svg">
                <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
          </a>
        </div>
      </div>

        <ul class="discount__list">
          <li class="discount__item">
        <picture>
            <source
              srcset="
                ../../images/main-page/discount1@1x.webp 1x,
                ../../images/main-page/discount1@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../../images/main-page/phone/discount1@1x.webp 1x,
                ../../images/main-page/phone/discount1@2x.webp 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="discount__img"
              src="../../images/main-page/discount1@1x.webp"
              alt="discount"
            />
          </picture>
        </li>
        <li class="discount__item">
          <picture>
            <source
              srcset="
                ../../images/main-page/discount2@1x.webp 1x,
                ../../images/main-page/discount2@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- <source srcset=""> -->
            <img
              class="discount__img"
              src="../../images/main-page/discount2@1x.webp"
              alt="discount"
            />
          </picture>
          </li>
          <li class="discount__item">
          <picture>
            <source
              srcset="
                ../../images/main-page/discount3@1x.webp 1x,
                ../../images/main-page/discount3@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- <source srcset=""> -->
            <img
              class="discount__img"
              src="../../images/main-page/discount3@1x.webp"
              alt="discount"
            />
          </picture>
          </li>
        </ul>
        <ul class="discount__list2">
        <li class="discount__item2">
          <a href="#" class="discount__empty">
            <svg class="discount__empty-svg">
              <use href="../../images/symbol-defs.svg#icon-cycle"></use>
            </svg>
          </a>
          <a href="#" class="discount__empty">
            <svg class="discount__empty-svg">
              <use href="../../images/symbol-defs.svg#icon-cycle"></use>
            </svg>
          </a>
          <a href="#" class="discount__empty">
            <svg class="discount__full-svg">
              <use href="../../images/symbol-defs.svg#icon-cycle-orange"></use>
            </svg>
          </a>
          <a href="#" class="discount__empty">
            <svg class="discount__empty-svg">
              <use href="../../images/symbol-defs.svg#icon-cycle"></use>
            </svg>
          </a>
          <a href="#" class="discount__empty">
            <svg class="discount__empty-svg">
              <use href="../../images/symbol-defs.svg#icon-cycle"></use>
            </svg>
          </a>
        </li>
      </ul>
  </div>
</section>
