<section class="category">
  <div class="container">
    <h2 class="category__title">Популярні категорії</h2>
    <ul class="category__list">
      <li class="category__item">
        <div>
          <h4 class="category__name">Ліжка</h4>
          <p class="category__number">54</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Матраци</h4>
          <p class="category__number">30</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">М'які меблі</h4>
          <p class="category__number">196</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Шафи</h4>
          <p class="category__number">79</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Комоди</h4>
          <p class="category__number">54</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Тумби</h4>
          <p class="category__number">64</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Столи</h4>
          <p class="category__number">35</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Стільці</h4>
          <p class="category__number">89</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Меблеві стіни</h4>
          <p class="category__number">24</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="category__item">
        <div>
          <h4 class="category__name">Кухні</h4>
          <p class="category__number">30</p>
          <svg class="category__svg-arrow">
            <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
