<section class="slider">
  <div class="container">
    <ul class="slider__list">
      <li class="slider__item" data-aos="zoom-in" data-aos-duration="1000">
        <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUYbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXAg">
        <picture>
          <source
            srcset="
              ../../images/main-page/slider@1x.webp 1x,
              ../../images/main-page/slider@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/slider@1x.webp 1x,
              ../../images/main-page/phone/slider@2x.webp 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="slider__img"
            src="../../images/main-page/slider@1x.webp"
            alt="Slider"
          />
        </picture>
      </a>

        <a href="#" class="slider__left" data-aos="fade-right" data-aos-duration="1500">
          <svg class="slider__left-svg">
            <use href="../../images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </a>
        <a href="#" class="slider__right" data-aos="fade-left" data-aos-duration="1500">
          <svg class="slider__right-svg">
            <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>

      
      <li class="slider__item" data-aos="fade-down" data-aos-duration="1200">
        <a href="#" class="slider__empty">
          <svg class="slider__empty-svg">
            <use href="../../images/symbol-defs.svg#icon-cycle"></use>
          </svg>
        </a>
        <a href="#" class="slider__empty">
          <svg class="slider__empty-svg">
            <use href="../../images/symbol-defs.svg#icon-cycle"></use>
          </svg>
        </a>
        <a href="#" class="slider__empty">
          <svg class="slider__full-svg">
            <use href="../../images/symbol-defs.svg#icon-cycle-orange"></use>
          </svg>
        </a>
        <a href="#" class="slider__empty">
          <svg class="slider__empty-svg">
            <use href="../../images/symbol-defs.svg#icon-cycle"></use>
          </svg>
        </a>
        <a href="#" class="slider__empty">
          <svg class="slider__empty-svg">
            <use href="../../images/symbol-defs.svg#icon-cycle"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
