<section class="pay-advantages">
  <div class="container">
    <ul class="pay-advantages__list">
      <li class="pay-advantages__item">
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0" class="pay-advantages__box">
          <svg data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100" class="pay-advantages__icon">
          <use href="./images/symbol-defs.svg#icon-small-ukraine"></use>
        </svg>
        </div>
        <div>
        <h4 data-aos="flip-down" data-aos-duration="1000" data-aos-delay="0" class="pay-advantages__text">Оплата по Україні</h4>
        <p data-aos="fade-left"  data-aos-duration="1000" data-aos-delay="300" class="pay-advantages__subtext">
          Доставка по Україні здійснюється Новою Поштою. Ви можете оплатити Ваше
          замовлення при отриманні післяплатою. Вартість післяплати 35грн +1-2%
          від суми. Також Ви можете оплатити Ваше замовлення на карту
          ПриватБанку, перед відправкою замовлення Вам.
        </p>
      </div>
      </li>
      <li class="pay-advantages__item">
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" class="pay-advantages__box"> 
          <svg data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400" class="pay-advantages__icon">
          <use href="./images/symbol-defs.svg#icon-kredyt-rozsrochka-circle"></use>
        </svg>
        </div>
        
        <div>
        <h4 data-aos="flip-down" data-aos-duration="1000" data-aos-delay="300" class="pay-advantages__text">Кредит\Розстрочка</h4>
        <p data-aos="fade-left"  data-aos-duration="1000" data-aos-delay="600" class="pay-advantages__subtext">
          На нашій виставці, ви можете оплатити Ваше замовлення за допомогою
          сервісів ПриватБанку "Миттєва Розстрочка" та "Оплата частинами", з
          мінімальними відсотками.
        </p>
      </div>
      </li>
      <li class="pay-advantages__item">
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600" class="pay-advantages__box">
            <svg data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700" class="pay-advantages__icon">
          <use href="./images/symbol-defs.svg#icon-peredplata-check"></use>
        </svg>
        </div>

        <div>
        <h4 data-aos="flip-down" data-aos-duration="1000" data-aos-delay="600" class="pay-advantages__text">Передплата</h4>
        <p data-aos="fade-left"  data-aos-duration="1000" data-aos-delay="900" class="pay-advantages__subtext">
          У зв'язку з частими випадками замовлень "клієнтами", які не збираються
          забирати їх керівництвом, було прийнято рішення про введення,
          мінімальної передоплати 20% (на стандартні замовлення). Залишок суми
          (80%) Ви оплачуєте при отриманні за фактом складання.
          <br> На нестандартні
          та великі замовлення передоплата 50%. На нестандартні матраци
          передплата 100%.
        </p>
      </div>
      </li>
    </ul>
  </div>
</section>
