.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $dark;

  &__main-container {
    @media screen and (min-width: 1290px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo-box {
    display: none;

    @media screen and (min-width: 1290px) {
      justify-content: start;
      display: flex;
      gap: 9px;
      margin-bottom: 40px;
      justify-content: center;
    }
  }

  &__logo-box-mob {
    justify-content: start;
    display: flex;
    gap: 9px;
    margin-bottom: 40px;
    justify-content: center;
    
    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__logo-sofa {
    height: 50px;
    width: 74px;
    fill: $yellow;
  }

  &__logo-text {
    width: 168px;
    height: 42px;
  }

  &__socials-box-desk {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__text-join {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    margin-bottom: 15px;
  }

  &__box-join {
    margin-bottom: 30px;
  }

  &__svg {
    width: 39px;
    height: 39px;
    background-color: #fff;
    border-radius: 50%;
  }
  &__instagram {
    fill: rgba(175, 36, 209, 1);
    border: 1px solid rgb(174, 36, 209);
  }

  &__facebook {
    fill: rgba(23, 120, 208, 1);
    border: 1px solid rgb(23, 119, 208);
    margin-right: 15px;
  }

  &__box-help {
    display: flex;
    margin-bottom: 40px;
  }

  &__svg-bug {
    background-color: rgba(117, 183, 59, 1);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  &__svg-whatsapp {
    fill: #fff;
    width: 24px;
    height: 24px;
  }

  &__telegram {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__text-help {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    margin-bottom: 15px;
  }

  &__pay-svg {
    fill: $grey-light;
    height: 30px;
    flex-shrink: 0;
  }

  &__pay-svg-visa {
    width: 70px;
    margin-right: 20px;
  }

  &__pay-svg-mastercard {
    width: 89px;
  }

  &__main-list {
    display: none;
    gap: 83px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__informations {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__customers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: $light;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $yellow;
    }
  }

  &__link-active {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }

  &__call {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1290px) {
      margin-bottom: 32px;
      justify-content: start;
    }
  }

  &__adress {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }
  }

  &__schedule {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }
  }

  &__svg-phone-border,
  &__adress-svg-border,
  &__calendar-border {
    border: 2px solid #b1b1b166;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    display: none;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__svg-phone,
  &__adress-svg,
  &__calendar {
    fill: $grey-light;
    width: 23px;
    height: 23px;
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__number {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    cursor: pointer;
    transition: color 250ms ease-in-out;


    &:hover {
      color: $yellow;
    }
  }

  &__call-me {
    color: $yellow;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__adress-text {
    text-align: center;
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    width: 174px;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $yellow;
    }
    @media screen and (min-width: 1290px) {
      text-align: left;
    }
  }

  &__schedule-text {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    width: 174px;
    text-align: center;

    @media screen and (min-width: 1290px) {
      text-align: left;
    }
  }

  &__socials-box-mob {
    margin-top: 30px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__text-join-mob {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__box-join-mob {
    display: flex;
    justify-content: center;
  }

  &__text-help-mob {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__box-help-mob {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__box-pay-mob {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    margin-top: 40px;
    padding-top: 15px;
    border-top: solid rgba(61, 61, 61, 1);
  }

  &__copyright-text {
    color: $grey-light;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
  }
}

.footer-menu {
  margin-bottom: 40px;

  @media screen and (min-width: 1290px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 5px;
  }

  &__item {
    position: relative;
    width: 100%;
    padding-top: 11px;
    background: #1a1a1a;
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-right: 20px;
    margin-left: auto;
  }

  &__arrow {
    width: 6.247px;
    height: 10.486px;
    flex-shrink: 0;
    fill: #fff;
    transform: rotate(90deg);
    margin-right: auto;
  }

  &__text {
    max-width: 230px;
    text-align: center;
  }

  &__paragraph {
    max-width: 1289px;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
  }

  &__categories,
  &__informations,
  &__customers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: $dark;
    padding-bottom: 15px;
    padding-top: 20px;
  }

  &__categorie,
  &__information,
  &__customer {
    display: flex;
    justify-content: center;
  }

  &__link {
    color: $light;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;

    &:hover {
      color: $yellow;
    }
  }

  &__item &__input:checked ~ &__paragraph {
    display: block;
    transition: all 1.5s;
    max-height: 520px;

    @media screen and (min-width: 1200px) {
      max-height: 1000px;
      transition: all 0.35s;
    }
  }
}
