.header {
  padding-bottom: 18px;

  &__logo {
    width: 250px;
    height: 50px;
  }

  &__section1 {
    background-color: #f8f8f8;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  &__list > .header__item:nth-child(1) {
    gap: 30px;
  }

  &__list > &__item > &__link {
    color: var(--Theme-Grey, #535353);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  &__help {
    color: var(--Theme-Grey, #535353);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  &__lang-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  &__lang-container svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__lang-text {
    color: var(--Theme-Grey, #535353);
    font-family: "Proxima Nova";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__list-svg {
    margin-left: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__list2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 43px;
    padding-top: 40px;
  }

  &__list2 > .header__item:nth-child(1) {
    position: relative;
  }

  &__list2 > .header__item:nth-child(2) {
    margin-left: 45px;
  }

  &__list2 > &__item:nth-child(2) > .icon__svg:nth-child(1) {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    fill: #535353;
  }

  &__paragraph {
    color: var(--Theme-Grey, #535353);
    font-family: "Proxima Nova";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }

  &__number {
    color: var(--Theme-Dark, #2b2929);
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-right: 10px;
  }

  &__logo-link {
    margin-right: 34px;
  }

  &__button {
    display: inline-flex;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Theme-Yellow, #ffbc57);
    color: white;
    fill: white;
    margin-right: 30px;
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__find {
    width: 401px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Theme-Grey-light, #b1b1b1);
    background: #fff;
    padding-left: 20px;
  }

  &__find::placeholder {
    color: var(--Theme-Grey-light, #b1b1b1);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  &__list3 {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__list3 > li:nth-child(1) > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
  }

  &__list3 > &__item:nth-child(1) > &__link {
    color: var(--Theme-Grey, #535353);
    font-family: "Proxima Nova";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__list3 > &__item:nth-child(3) > &__link {
    color: var(--Theme-Grey, #535353);
    font-family: "Proxima Nova";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__list3 > &__item:nth-child(2) {
    gap: 40px;
  }

  &__list3 > &__item:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mobile {
    display: none;
  }
}

svg {
  width: 30px;
  height: 30px;
}

.icon__svg-whatsapp {
  width: 18px;
  height: 18px;
  fill: white;
}

.bug-icon {
  background-color: #75b73b;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.icon-container {
  display: flex;
  align-items: flex-start;
}

.obrane__svg,
.korzina__svg,
.search__svg-mobile {
  width: 25px;
  height: 25px;
  border: 2px solid #ffbc57;
  border-radius: 50%;
  padding: 10px;
  fill: #535353;
}

.search__svg {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #535353;
}

.obrane__svg {
  margin-right: 20px;
  margin-left: 5px;
}

.icon-star,
.icon-sale,
.icon-credit {
  width: 24px;
  height: 24px;
  fill: #ffbc57;
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  .header {
    &__section1 {
      display: none;
    }

    &__mobile {
      display: block;
    }

    &__logo {
      width: 215px;
      height: 45px;
      margin-left: 47px;
      margin-right: 27px;
    }

    &__list2 {
      align-items: center;
      justify-content: center;
    }

    &__button {
      display: none;
    }

    &__form {
      display: none;
    }

    &__item:nth-child(3) {
      display: none;
    }

    &__item:last-child {
      display: none;
    }

    &__list3 > &__item > &__link {
      display: none;
    }

    &__item-mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px ;
    }

    
  }

  .search__svg {
    display: none;
  }

  .icon__svg-phone {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    fill: #535353;
  }

  .obrane__svg {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__section1 {
      display: block;
    }

    &__mobile {
      display: none;
    }

    &__logo {
      width: 215px;
      height: 45px;
      margin: 0;
    }

    &__button {
      display: block;
    }

    &__form {
      display: block;
    }

    &__item:nth-child(3) {
      display: block;
    }

    &__item:last-child {
      display: flex;
      flex-direction: row;
    }

    &__list3 > &__item:nth-child(1) > &__link {
      display: flex;
      flex-direction: row;
    }

    &__list3 > &__item > &__link {
      display: block;
    }

    &__list3 > &__item:nth-child(3) {
      gap: 40px ;
    }

    &__button {
      display: flex;
      align-items: center;
    }

    &__form{
      margin-right: 30px;
    }

    &__list3 > &__button {
      display: none;
    }

    &__list3 > li:nth-child(1) > a {
      display: none;
    }

    &__item-mobile {
      display: none;
    }

    &__list2 {
      justify-content: inherit;
    }

  }

  .search__svg {
    display: block;
  }

  .icon__svg-phone {
    display: block;
    margin-right: 15px;
  }

  .icon__svg-mobile {
    display: none;
  }


  .obrane__svg {
    margin-right: 20px;
    margin-left: 30px;
  }
}

