.reviews-section {
  background-color: $light;
}

.reviews {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;

  @media screen and (min-width: 1290px) {
    width: 850px;
  }

  &__line-yellow {
    width: 100%;
    height: 2px;
    flex-shrink: 0;
    background-color: $yellow;
    margin-top: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 1290px) {
      width: 720px;
      margin-left: auto;
    }
  }

  &__line-grey {
    width: 100%;
    height: 3px;
    flex-shrink: 0;
    background: #f8f8f8;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 8px 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(252, 169, 44, 0.903);
      transform: scale(1.02);
    }

    @media screen and (min-width: 1290px) {
      width: auto;
    }
  }

  &__button-svg {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  &__button span {
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
  }

  &__list {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }
}

.reviews-header {
  padding-bottom: 40px;

  &__title {
    color: $dark;
    font-family: "Proxima Nova";
    font-weight: 600;
    line-height: 1.33;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;

    @media screen and (min-width: 1290px) {
      width: 790px;
      font-size: 30px;
      line-height: 1.3;
      margin-bottom: 10px;
    }
  }
  &__flex {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1290px) {
      gap: 41px;
      flex-direction: row;
    }
  }

  &__reviews-flex {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    @media screen and (min-width: 1290px) {
      margin-bottom: 0;
    }
  }

  &__reviews {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    white-space: nowrap;
  }

  &__reviews-number {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__stars-otsinka-box {
    display: flex;
    gap: 10px;
  }

  &__stars {
    display: flex;
    // margin-right: 10px;
    // margin-left: 41px;

    @media screen and (min-width: 1290px) {
      margin-right: 10px;
    }
  }

  &__star {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__star-svg {
    width: 20px;
    height: 19px;
    fill: $yellow;
  }

  &__otsinka {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }
}
.review1 {
  &__header {
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__name-icon-flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon-border {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    width: 21.429px;
    height: 21.429px;
    flex-shrink: 0;
    fill: $grey;
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      width: 476px;
      font-size: 17px;
    }
  }

  &__stars-date-box {
    display: flex;
    gap: 20px;
    margin-top: 10px;

    @media screen and (min-width: 1290px) {
      margin-top: 0;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 24px;
    height: 24px;
  }

  &__star-svg {
    width: 20.015px;
    height: 19.082px;
    fill: $yellow;
  }

  &__date {
    color: var(--Theme-Grey, #535353);
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    width: 84px;
    height: 24px;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }

  &__text {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.87;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      width: 790px;
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 8px;
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(166, 110, 27, 0.049);
      transform: scale(1.02);
    }
  }

  &__button-svg {
    width: 20px;
    height: 20px;
    fill: $yellow;
  }

  &__button span {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }
}
.answer1 {
  width: 100%;

  @media screen and (min-width: 1290px) {
    width: 720px;
    margin-left: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    @media screen and (min-width: 1290px) {
      gap: 20px;
    }
  }

  &__icon-border {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

    @media screen and (min-width: 1290px) {
      margin-right: 0;
    }
  }

  &__user {
    width: 21.429px;
    height: 21.429px;
    flex-shrink: 0;
    fill: $grey;
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    fill: $yellow;

    @media screen and (min-width: 1290px) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__name-answer {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.26;
    white-space: nowrap;

    @media screen and (min-width: 1290px) {
      font-size: 19px;
    }
  }

  &__date {
    color: var(--Theme-Grey, #535353);
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    width: 84px;
    height: 24px;
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__text {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;

    @media screen and (min-width: 1290px) {
      width: 720px;
    }
  }
}
.answer2 {
  margin-top: 30px;
  width: 720px;
  margin-left: auto;
  display: none;

  @media screen and (min-width: 1290px) {
    display: block;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__icon-border {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    width: 36px;
    height: 20.432px;
    flex-shrink: 0;
    fill: $yellow;
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;
  }

  &__arrow {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    fill: $yellow;
  }

  &__name-answer {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
  }

  &__date {
    color: var(--Theme-Grey, #535353);
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    width: 84px;
    height: 24px;
  }

  &__text {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
  }
}
.review2 {
  &__header {
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__name-icon-flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon-border {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    width: 21.429px;
    height: 21.429px;
    flex-shrink: 0;
    fill: $grey;
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      width: 476px;
      font-size: 17px;
    }
  }

  &__stars-date-box {
    display: flex;
    gap: 20px;
    margin-top: 10px;

    @media screen and (min-width: 1290px) {
      margin-top: 0;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 24px;
    height: 24px;
  }

  &__star-svg {
    width: 20.015px;
    height: 19.082px;
    fill: $yellow;
  }

  &__date {
    color: var(--Theme-Grey, #535353);
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    width: 84px;
    height: 24px;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }

  &__text {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.87;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      width: 790px;
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 8px;
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(166, 110, 27, 0.049);
      transform: scale(1.02);
    }
  }

  &__button-svg {
    width: 20px;
    height: 20px;
    fill: $yellow;
  }

  &__button span {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }

  &__button-number-border {
    width: 20.246px;
    height: 20.246px;
    flex-shrink: 0;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__button-number {
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 700;
  }
}

.reviews-form {
  margin-top: 30px;
  padding: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: $light;
  width: 300px;

  @media screen and (min-width: 1290px) {
    width: 790px;
  }

  &__header {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 36px;

    @media screen and (min-width: 1290px) {
      gap: 20px;
    }
  }

  &__arrow {
    width: 19px;
    height: 19px;
    margin-left: 4px;
    margin-right: 4px;
    fill: $yellow;

    @media screen and (min-width: 1290px) {
      margin-right: 0;
      margin-left: 0;
      width: 20px;
      height: 20px;
    }
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__input {
    display: flex;
    width: 290px;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0;
    padding-left: 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid $grey-light;
    background: #fff;
    height: 50px;

    @media screen and (min-width: 1290px) {
      width: 340px;
    }
  }

  &__input::placeholder {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
  }

  &__input-review {
    width: 290px;
    flex-shrink: 0;
    padding-bottom: 110px;

    @media screen and (min-width: 1290px) {
      width: 750px;
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      gap: 30px;
      justify-content: start;
    }
  }

  &__btn-submit {
    width: 130px;
    height: 46px;
    border-radius: 8px;
    background: $yellow;
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.26;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(252, 169, 44, 0.763);
      transform: scale(1.02);
    }

    @media screen and (min-width: 1290px) {
      width: 160px;
      height: 50px;
      font-size: 19px;
    }
  }

  &__btn-cancel {
    width: 130px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid $yellow;
    color: $yellow;
    background-color: transparent;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.26;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(0, 0, 0, 0.037);
      transform: scale(1.02);
    }

    @media screen and (min-width: 1290px) {
      width: 160px;
      height: 50px;
      font-size: 19px;
    }
  }
}

.review-features {
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__icon-border {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    width: 21.429px;
    height: 21.429px;
    flex-shrink: 0;
    fill: $grey;
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    display: flex;
    width: 476px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 24px;
    height: 24px;
  }

  &__star-svg {
    width: 20.015px;
    height: 19.082px;
    fill: $yellow;
  }

  &__date {
    color: var(--Theme-Grey, #535353);
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    width: 84px;
    height: 24px;
  }

  &__text {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    margin-bottom: 20px;
    width: 790px;
  }

  &__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 8px;
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(166, 110, 27, 0.049);
      transform: scale(1.02);
    }
  }

  &__button-svg {
    width: 20px;
    height: 20px;
    fill: $yellow;
  }

  &__button span {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__button-number-border {
    width: 20.246px;
    height: 20.246px;
    flex-shrink: 0;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__button-number {
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 700;
  }
}

.review-last {
  display: block;
  
  @media screen and (min-width: 1290px) {
    display: none;
  }

  &__header {
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__name-icon-flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon-border {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    width: 21.429px;
    height: 21.429px;
    flex-shrink: 0;
    fill: $grey;
  }

  &__name {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      width: 476px;
      font-size: 17px;
    }
  }

  &__stars-date-box {
    display: flex;
    gap: 20px;
    margin-top: 10px;

    @media screen and (min-width: 1290px) {
      margin-top: 0;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 24px;
    height: 24px;
  }

  &__star-svg {
    width: 20.015px;
    height: 19.082px;
    fill: $yellow;
  }

  &__date {
    color: var(--Theme-Grey, #535353);
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;
    width: 84px;
    height: 24px;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }

  &__text {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.87;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      width: 790px;
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 8px;
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(166, 110, 27, 0.049);
      transform: scale(1.02);
    }
  }

  &__button-svg {
    width: 20px;
    height: 20px;
    fill: $yellow;
  }

  &__button span {
    color: $grey;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.41;

    @media screen and (min-width: 1290px) {
      font-size: 17px;
    }
  }
}
