.delivery-kyiv {
  padding-bottom: 60px;
  background-color: $light;

  @media screen and (min-width: 1290px) {
  padding-bottom: 70px;
  }

  &__bc-container {
    background-image: url(../../../images/delivery-page/kyiv-ellipse@2x.webp),
      url(../../../images/delivery-page/kyiv-map@2x.webp);
    background-size: 250px, contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: bottom left ,bottom;    

    @media screen and (min-width: 1290px) {
      height: auto;
      background-size: 400px, contain;
      background-position: 550px 315px, right;
      }
  }

  &__container {
    height: 1171px;
    width: 410px;

    @media screen and (min-width: 1290px) {
      width: 520px;
      height: auto;
    }
  }
  &__title {
    font-family: "Proxima Nova";
    color: $dark;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 40px;
    width: 410px;

    @media screen and (min-width: 1290px) {
      font-size: 40px;
      line-height: 1.2;
      text-align: left;
      width: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 40px;
  }

  &__item {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__svg-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid $yellow;
    border-radius: 50%;
    min-width: 63px;
    height: 63px;
  }

  &__svg {
    fill: $yellow;
    width: 40px;
    height: 40px;
  }

  &__text {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    width: 316px;

    @media screen and (min-width: 1290px) {
width: auto;
    }
  }

  &__lead {
    color: $dark;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    width: 410px;

    @media screen and (min-width: 1290px) {
      margin-bottom: 40px;
      width: auto;
    }
  }

  &__desc {
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-weight: 600;
    line-height: 1.307;
  }

  &__sub-desc {
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }
}
