.showroom .container {
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    height: 912px;

    @media screen and (min-width: 1200px) {
        height: 506px;
        background-position: right;
    }

    background-image: url(../../../images/about-us/phone/about-img@1x.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../../../images/about-us/phone/about-img@2x.webp);
    }

    @media screen and (min-width: 1200px) {
        background-image: url(../../../images/about-us/about-img@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../../../images/about-us/about-img@1x.webp);
        }
    }
}

.showroom {
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 70px;
    }

    &__title {
        color: $dark ;
        max-width: 410px;
        font-family: "Proxima Nova";
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;

        @media screen and (min-width: 1200px) {
            max-width: 520px;
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__text {
        color: $dark;
        font-family: "Proxima Nova";
        font-size: 26px;
        font-weight: 600;
        line-height: 34px;
        max-width: 410px;
        margin-top: 30px;

        @media screen and (min-width: 1200px) {
            max-width: 520px;
            font-family: "Proxima Nova";
            font-size: 26px;
        }
    }

    &__subtext {
        color: $dark;
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        max-width: 410px;
        margin-top: 20px;

        @media screen and (min-width: 1200px) {
            max-width: 520px;
            font-family: "Proxima Nova";
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__button {
        margin-top: 30px;
        padding: 13px 20px;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        animation-name: showroom-button;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1200px) {
            margin-left: 0;
            margin-right: auto;
        }
    }

    &__button-text {
        color: #FFF;
        font-family: "Proxima Nova";
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 126.316% */
    }

    &__icon {
        width: 12px;
        height: 12px;
        fill: white;
        padding-bottom: 3px;
    }
}

@keyframes showroom-button {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}