.contact {



    &__list {
        display: flex;
        gap: 50px;
        justify-content: space-around;
        padding-bottom: 76px;
    }

    &__item-map {
        display: flex;
    }

    &__map {
        width: 660px;
        height: 650px;
        flex-shrink: 0;
    }

    &__img {
        width: 630px;
        height: 650px;
        flex-shrink: 0;
    }

    &__link {
        color: var(--Theme-Dark, #2B2929);
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    &__text {
        color: var(--Theme-Dark, #2B2929);
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    &__name {
        color: var(--Theme-Grey-light, #B1B1B1);
        font-family: "Proxima Nova";
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
    }


}