<section class="discount">
    <div class="container">
        <h2 class="discount__title">Акції доставки</h2>
        <ul class="discount__list">
            <li class="discount__item">
                <div class="discount__svg-div" data-aos="fade-right" data-aos-duration="500" data-aos-delay="700">
                    <svg class="discount__svg">
                        <use href="./images/symbol-defs.svg#icon-star-aktsiyi"></use>
                    </svg>
                </div>
                <p class="discount__text" data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1000">При
                    покупці ліжка з матрацом більше 7000 грн. (вартість матрацу) занесення
                    ліфтом та складання БЕЗКОШТОВНО * </p>
            </li>
            <li class="discount__item">
                <div class="discount__svg-div" data-aos="fade-right" data-aos-duration="500" data-aos-delay="350">
                    <svg class="discount__svg">
                        <use href="./images/symbol-defs.svg#icon-star-aktsiyi"></use>
                    </svg>
                </div>
                <p class="discount__text" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">При
                    покупці ліжка з матрацом більше 10000 грн. знижка 5% на матрац + доставка,
                    занесення ліфтом та складання БЕЗКОШТОВНО *</p>
            </li>
            <li class="discount__item">
                <div class="discount__svg-div" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <svg class="discount__svg">
                        <use href="./images/symbol-defs.svg#icon-star-aktsiyi"></use>
                    </svg>
                </div>
                <p class="discount__text" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">Купуючи матрац від 7000 грн. доставка та занесення БЕЗКОШТОВНО *</p>
            </li>
            <li class="discount__item">
                <div class="discount__svg-div" data-aos="fade-left" data-aos-duration="500" data-aos-delay="350">
                    <svg class="discount__svg">
                        <use href="./images/symbol-defs.svg#icon-star-aktsiyi"></use>
                    </svg>
                </div>
                <p class="discount__text" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000">Купуючи
                    матрац від 10000 грн. доставка та занесення БЕЗКОШТОВНО * + знижка 5%
                    на матрац</p>
            </li>
            <li class="discount__item">
                <div class="discount__svg-div" data-aos="fade-left" data-aos-duration="500" data-aos-delay="700">
                    <svg class="discount__svg">
                        <use href="./images/symbol-defs.svg#icon-star-aktsiyi"></use>
                    </svg>
                </div>
                <p class="discount__text" data-aos="fade-left" data-aos-delay="1500" data-aos-duration="1000">При покупці
                    столу та 2-х стільців доставка та занесення БЕЗКОШТОВНО *</p>
            </li>
        </ul>
        <p class="discount__slogan">* Під покупкою ліжка з матрацом до суми "N" - мається на увазі ціна за матрац.
            ** Занесення відбувається ліфтом (по сходах занесення платне)
            * В акції не беруть участь ліжка з вбудованим матрацом.
            * Знижка на матраци ТМ Сонлайн не сумується з іншими акціями.</p>
    </div>
</section>