<header class="header">
  <section class="header__section1">
    <div class="container">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="../../about-us.html" class="header__link">Про нас</a>
            <a href="../../pay.html" class="header__link">Оплата</a>
            <a href="../../delivery.html" class="header__link"
              >Доставка та збірка</a
            >
            <a href="../../reviews.html" class="header__link">Відгуки</a>
            <a href="../../blog-page.html" class="header__link">Блог</a>
            <a href="../../contacts.html" class="header__link">Контакти</a>
          </li>
          <li class="header__item">
            <p class="header__help">Допомога і консультація:</p>
            <ul class="header__svg">
              <li class="header__list-svg">
                <div class="bug-icon">
                  <svg class="icon__svg-whatsapp">
                    <use
                      href="../../images/symbol-defs.svg#icon-whatsapp"
                    ></use>
                  </svg>
                </div>
                <svg class="icon__svg">
                  <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <svg class="icon__svg">
                  <use href="../../images/symbol-defs.svg#icon-viber"></use>
                </svg>
                <div class="header__lang-container">
                  <p class="header__lang-text">UA</p>
                  <svg class="icon__svg" onclick="toggleLanguage()">
                    <use href="../../images/symbol-defs.svg#icon-bottom"></use>
                  </svg>
                  <ul id="languageDrop" class="language-dlist hidden">
                      <div>
                    <p id="UaPrgrph" class="header__lang-text">UA</p>
                    <p id="EnPrgrph" class="header__lang-text">EN</p>
                  </div>
                    <svg class="icon__svg" onclick="toggleLanguage()">
                      <use href="../../images/symbol-defs.svg#icon-bottom"></use>
                    </svg>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="header__section2">
    <div class="container">
      <ul class="header__list2">
        <li class="header__item">
          <svg class="icon-mobile-header" onclick="toggleMenu()">
            <use
              id="menuIcon"
              href="../../images/symbol-defs.svg#icon-mobile-menu"
            ></use>
          </svg>
          <ul class="mobile-menu-list" id="mobileMenu">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="../../about-us.html">Про нас</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="../../pay.html">Оплата</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="../../delivery.html"
                >Доставка та збірка</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="../../reviews.html">Відгуки</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="../../blog-page.html">Блог</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="../../contacts.html"
                >Контакти</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#">
                <svg class="icon-credit">
                  <use href="../../images/symbol-defs.svg#icon-credit"></use>
                </svg>
                <h4>Купити в кредит</h4>
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#">
                <svg class="icon-sale">
                  <use href="../../images/symbol-defs.svg#icon-sale"></use>
                </svg>
                <h4>Розпродаж</h4>
              </a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#">
                <svg class="icon-star">
                  <use href="../../images/symbol-defs.svg#icon-star"></use>
                </svg>
                <h4>Акції</h4>
              </a>
            </li>
          </ul>
          <a href="../../index.html" class="header__logo-link">
            <picture>
              <source
                srcset="
                  ../../images/main-page/logo-header@1x.webp 1x,
                  ../../images/main-page/logo-header@2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <!-- <source srcset=""> -->
              <img
                class="header__logo"
                src="../../images/main-page/logo-header@1x.webp"
                alt="Krovato"
              />
            </picture>
          </a>
          <a class="header__button" href="../../catalog.html">
            <svg class="catalog__svg-btn">
              <use href="../../images/symbol-defs.svg#icon-menu-catalog"></use>
            </svg>
            Каталог
          </a>

          <form class="header__form">
            <input
              class="header__find"
              type="text"
              id="headerFind"
              placeholder="Пошук товарів"
            />
          </form>
          <svg class="search__svg">
            <use href="../../images/symbol-defs.svg#icon-search"></use>
          </svg>
        </li>



        <li class="header__item">
          <svg class="icon__svg-phone">
            <use href="../../images/symbol-defs.svg#icon-telephone"></use>
          </svg>
          <div>
            <p class="header__paragraph">Щодня з 9:00 до 18:00</p>
            <h4 class="header__number">067 929-45-45</h4>
          </div>
          <svg class="icon__svg" onclick="toggleAdditionalNumbers()">
            <use href="../../images/symbol-defs.svg#icon-bottom"></use>
          </svg>
          <!-- phone drop menu -->
          <div id="additionalNumbersBox" class="additional-numbers-box hidden">
            <svg class="icon__svg-mobile-drop">
              <use href="../../images/symbol-defs.svg#icon-telephone"></use>
            </svg>
            <div>
              <p class="header__paragraph-drop">Щодня з 9:00 до 18:00</p>
              <h4 class="header__number-drop">067 929-45-45</h4>
              <h4 class="header__number-drop">050 133-45-45</h4>
              <h4 class="header__number-drop">093 170-75-45</h4>
              <a class="header__link-drop" href="#">Передзвоніть мені</a>
            </div>
            <svg class="icon__svg-drop" onclick="toggleAdditionalNumbers()">
              <use href="../../images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
        </li>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <a href="../../tray.html">
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </a>
      </ul>
      <ul class="header__list3">
        <li class="header__item">
          <a class="header__button" href="../../catalog.html">
            <svg class="catalog__svg-btn">
              <use href="../../images/symbol-defs.svg#icon-menu-catalog"></use>
            </svg>
            Каталог
          </a>

          <a class="header__link" href="#">
            <svg class="icon-star">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
            <h4>Акції</h4>
          </a>
          <a class="header__link" href="#">
            <svg class="icon-sale">
              <use href="../../images/symbol-defs.svg#icon-sale"></use>
            </svg>
            <h4>Розпродаж</h4>
          </a>
          <a class="header__link" href="#">
            <svg class="icon-credit">
              <use href="../../images/symbol-defs.svg#icon-credit"></use>
            </svg>
            <h4>Купити в кредит</h4>
          </a>
        </li>
        <li class="header__item-mobile">
          <svg class="search__svg-mobile" onclick="toggleDropdownMenu()">
            <use id="searchIcon" href="../../images/symbol-defs.svg#icon-search"></use>
          </svg>
          <div id="dropdownMenu" class="dropdown-menu hidden">
            <form class="header__form-mobile">
              <input
                class="header__find-mob"
                type="text"
                id="headerFind"
                placeholder="Пошук товарів"
              />
            </form>
            <svg class="search__svg-mob">
              <use href="/images/symbol-defs.svg#icon-search"></use>
            </svg>
          </div>
          <svg class="obrane__svg">
            <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
          </svg>
          <svg class="korzina__svg">
            <use href="../../images/symbol-defs.svg#icon-korzina"></use>
          </svg>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Дитяча</a>
          <a href="#" class="header__link">Кухня</a>
          <a href="#" class="header__link">Ванна</a>
          <a href="#" class="header__link">Спальня</a>
          <a href="#" class="header__link">Передпокій</a>
          <a href="#" class="header__link">Вітальня</a>
          <a href="#" class="header__link">Офіс</a>
        </li>
      </ul>
    </div>
  </section>
</header>
